.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.logo {
    width: auto;
    height: 2rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.menu {
    display: flex;
    justify-content:space-between;
    gap: 2rem;

    a {
        text-decoration: none;
        transition: transform 0.1s ease;
    }

    a:hover {
        transform: scale(1.02);
    }
}

.button {
    width: 12rem;
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;

    > div {
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    svg {
        cursor: pointer;
        transition: transform 0.1s ease;
    }

    svg:hover {
        transform: scale(1.02);
    }
}