.background {
    height: 80vh;
    position: relative;
    background-color: var(--background);
    overflow: hidden;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 2.5rem;
}

:global(.dark) .content h2,
:global(.dark) .content h3 {
    color: rgb(26, 48, 5);
}

@media (max-width: 768px) {
    .content {
        width: 85%;
        padding: 40px 20px 0 20px;
    }
}
