.background {
    height: 80vh;
    position: relative;
    background-color: var(--background);
    overflow: hidden;
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 80px 0 0 0;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

:global(.dark) .content h2,
:global(.dark) .content h3 {
    color: rgb(26, 48, 5);
}

@media (max-width: 768px) {
    .content {
        width: 85%;
        padding: 40px 20px 0 20px;
    }
}
