.background {
    height: 80vh;
    background-color: var(--background);
    display: flex;
    justify-content: start;
    align-items: start;
    padding-left: 0;
    overflow: hidden;
}
.content {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    margin-left: 35rem;
    margin-top: 5rem;
}

.imageWrapper {
    margin-left: 10rem;
    flex: 1 1 auto;
    min-width: 0;
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.imageWrapper :global(img) {
    object-position: left;
}

:global(.dark) .content h2,
:global(.dark) .content h3 {
    color: var(--foreground);
}

@media (max-width: 768px) {
    .content {
        width: 85%;
        padding: 40px 20px 0 20px;
    }
}
