.card {
  background-color: var(--background);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  max-width: 10rem;
  height: 100%;
  margin: 0 auto;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 10rem;
  width: 10rem;
  overflow: hidden;
}


.content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  min-height: 0;
}

.nombreCotidiano {
  font-family: var(--font-clash-display);
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  color: var(--foreground);
}

.priceContainer {
  display: flex;
  align-items: center;
}

.price {
  font-family: var(--font-clash-display);
  font-size: 1rem;
  font-weight: 600;
  color: var(--foreground);
}

.descripcion {
  font-family: var(--font-clash-display);
  font-size: 16px;
  line-height: 1.6;
  color: var(--foreground);
  margin: 0;
}

/* Modo oscuro */
:global(.dark) .card {
  background-color: rgb(40, 70, 25);
}

/* Responsive */
@media (max-width: 768px) {
  .card {
    max-width: 100%;
    width: 100%;
  }

  .imageContainer {
    width: 100%;
    height: 250px;
  }

  .content {
    padding: 20px;
  }

  .nombreCotidiano {
    font-size: 20px;
  }

  .price {
    font-size: 24px;
  }
}
