:root {
  --background: rgb(246, 233, 217);
  --foreground: rgb(4, 50, 34);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:  rgb(4, 50, 34) !important;
    --foreground: rgb(247, 242, 237) !important;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-clash-display);
}

* {
  font-family: inherit;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p, a, div, span, button, input, textarea, select {
  font-family: var(--font-clash-display);
}
