:root {
  --background: rgb(247, 238, 227);
  --foreground: rgb(4, 50, 34);
}

:root.dark {
  --background: rgb(26, 48, 5);
  --foreground: rgb(246, 233, 217);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-clash-display);
  transition: background-color 1s ease, color 1s ease;
}

* {
  font-family: inherit;
  color: inherit;
  transition: background-color 1s ease, color 1s ease;
}

h1, h2, h3, h4, h5, h6, p, a, div, span, button, input, textarea, select {
  font-family: var(--font-clash-display);
}
